body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    background-image: url(../../360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    background:black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.box {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color:whitesmoke;
}

.input-group {
    position: relative;
    margin-bottom: 14px;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #888;
}

.input-group input {
    width: 80%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff6ec4;
    border: none;
    border-radius: 4px;
    color:white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}